**/.classpath
**/.project
**/.settings/
**/target/
**/*.class
**/logs/
.project
.settings/
*.class
*.log
#*.jar
*.iml
*.war
*.DS_Store
*.project
*.classpath
*.settings
*dependency-reduced-pom.xml
.idea
bin
target
.attach_pid*
